@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

li, p{
	line-height: 1.5;
}

.navbar{
	background-color: #FFFFFF;
}

.navbar-brand{
	margin-right: 0;
}

.navbar-brand h3{
	color: #007BCC;
	position: relative;
}

.navbar-brand h3:before {
	content: "";
	position: absolute;
	width: 70%;
	bottom: -5px;
	border-bottom: 2px solid #FF7D7D;
	border-radius: 2px;
	color: #007BCC;
}

.navbar-toggler{
	border: none !important;
	width: 50px;
}

.navbar-toggler:focus{
	outline: none !important;
}

.navbar-toggler span{
	display: block;
	height: 3px;
	background-color: #1b1e21;
	border-radius: 25px;
	margin-bottom: 5px;
}

.navbar-toggler>:first-child{
	width: 40%;
	margin-left: auto;
}

.navbar-toggler>:last-child{
	width: 60%;
	margin-left: auto;
}

.navbar-nav {
	font-weight: 500;
	font-size: 14px;
}

.navbar-nav, .nav-item {
	padding-right: 10px;
	font-size: 12px;
}

.nav-item:hover a.nav-link{
	color: #007BCC !important;
}

.nav-link {
	color: #0F181D !important;
	font-weight: 500;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	text-transform: uppercase;
}

.nav-item.active .nav-link {
	color: #007BCC !important;
	font-weight: 600;
}

.nav-item.active .nav-link:before {
	content: "";
	position: absolute;
	width: 80px;
	bottom: 15px;
	border-bottom: 2px solid #FF7D7D;
	border-radius: 2px;
	color: #007BCC;
}

#my-carousal img{
	height:100vh;
	width: 100%;
	object-fit: cover;
}

.info-area{
	height:80vh;
	display: flex;
	align-items: center;
}

#surveillance .highlight{
	border-left: 4px solid lightgreen;
	padding-left: 10px;
}

#surveillance .economies{
	padding: 100px 0px;
}

#privacy-laws{
	margin: 100px;
	padding: 0 100px;
}

#privacy-laws ol li{
	margin-top: 10px;
}

#lookalike-section {}

#lookalike-section p{
	font-size: 13px;
	text-align: justify;
	line-height: 2;
}

#info-section{
	padding: 50px 0;
}

.title{
	border-bottom: 1px solid #dfddd6;
    color: #003262;
    font-weight: 400;
    margin: 0;
    padding-bottom: 3px;
    font-family: "freight-micro-pro",Georgia,serif;
    font-size:24px;
}

.why-care{
	font-size: 15px;
	padding: 20px 0;
}

.site-footer{
  background-color:#007BCC;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#FFFFFF;
}
.site-footer hr{
  border-top-color:#FFFFFF;
  opacity:0.5
}
.site-footer h6{
  color:#FFFFFF;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:#007BCC;
}
.site-footer a:hover{
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block;
  margin:10px 0;
}
.footer-links a{
  color:#FFFFFF
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  text-decoration:none;
}
.footer-links.inline li{
  display:inline-block
}
.copyright-text{
  margin:0
}